infra/n8n/workflows/epic-close-check.json
{
  "id": "EpicCloseCheck01",
  "name": "Epic Close Check",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "epic-close-check",
        "options": {},
        "responseMode": "onReceived",
        "responseCode": 200
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "epic-close-check"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst https = require('https');\n\nconst appId = $env.GITHUB_APP_ID;\nconst installationId = $env.GITHUB_INSTALLATION_ID;\nconst privateKeyBase64 = $env.GITHUB_PRIVATE_KEY_BASE64;\nconst privateKey = Buffer.from(privateKeyBase64, 'base64').toString('utf8');\n\nconst now = Math.floor(Date.now() / 1000);\nconst header = Buffer.from(JSON.stringify({ alg: 'RS256', typ: 'JWT' })).toString('base64url');\nconst payload = Buffer.from(JSON.stringify({ iat: now - 60, exp: now + 600, iss: appId })).toString('base64url');\nconst signature = crypto.sign('SHA256', Buffer.from(`${header}.${payload}`), privateKey).toString('base64url');\nconst jwt = `${header}.${payload}.${signature}`;\n\nconst token = await new Promise((resolve, reject) => {\n  const req = https.request({\n    hostname: 'api.github.com',\n    path: `/app/installations/${installationId}/access_tokens`,\n    method: 'POST',\n    headers: {\n      'Authorization': `Bearer ${jwt}`,\n      'Accept': 'application/vnd.github+json',\n      'User-Agent': 'n8n-orchestrator',\n      'Content-Length': 0\n    }\n  }, res => {\n    let body = '';\n    res.on('data', c => body += c);\n    res.on('end', () => {\n      if (res.statusCode !== 201) reject(new Error(`GitHub token request failed: ${res.statusCode} ${body}`));\n      else resolve(JSON.parse(body).token);\n    });\n  });\n  req.on('error', reject);\n  req.end();\n});\n\nreturn [{ json: { ...$input.first().json, githubToken: token } }];"
      },
      "name": "Get Installation Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "jsCode": "// Epic Close Check — stub for Phase 4\n// Currently the story-close-check workflow handles the simple case inline.\n// This workflow will eventually run post-epic quality checks:\n// - No #[allow(dead_code)] without a tracking issue\n// - No TODO/FIXME without a tracking issue\n// - cargo clippy passes (delegated to CI)\n// - No lint suppression additions\n//\n// For now, this is a placeholder that logs receipt.\n\nconst data = $input.first().json;\nreturn [{ json: { stub: true, message: 'Epic close check stub — quality checks not yet implemented', epicNumber: data.body?.issueNumber } }];"
      },
      "name": "Quality Checks (Stub)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Get Installation Token", "type": "main", "index": 0 }]]
    },
    "Get Installation Token": {
      "main": [[{ "node": "Quality Checks (Stub)", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1" }
}
