infra/n8n/workflows/router-github-webhook.json
{
  "name": "Router: GitHub Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "github-webhook",
        "options": {
          "rawBody": true
        }
      },
      "name": "GitHub Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        208,
        304
      ],
      "webhookId": "github-webhook",
      "id": "b487e628-6fb3-4e98-9990-2e60effb0cb3"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\nconst webhookSecret = $env.GITHUB_WEBHOOK_SECRET;\nconst signature = $input.first().json.headers['x-hub-signature-256'];\nconst rawBody = $input.first().json.body;\n\nif (!webhookSecret || !signature) {\n  return [{ json: { verified: false, reason: 'Missing secret or signature' } }];\n}\n\nconst expected = 'sha256=' + crypto\n  .createHmac('sha256', webhookSecret)\n  .update(JSON.stringify(rawBody))\n  .digest('hex');\n\nconst verified = crypto.timingSafeEqual(\n  Buffer.from(signature),\n  Buffer.from(expected)\n);\n\nreturn [{ json: { verified, ...($input.first().json) } }];"
      },
      "name": "Verify Signature",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        304
      ],
      "id": "cd32749e-ac63-4e55-b2b2-a81d2ce553ea"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "sig-check",
              "leftValue": "={{ $json.verified }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Signature Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        496,
        304
      ],
      "id": "732f3de0-42a8-4808-9bab-137c689c8449"
    },
    {
      "parameters": {
        "jsCode": "const headers = $input.first().json.headers;\nconst body = $input.first().json.body;\n\nconst event = headers['x-github-event'] || '';\nconst action = body.action || '';\nconst senderLogin = body.sender?.login || '';\nconst senderType = body.sender?.type || '';\nconst commentUserLogin = body.comment?.user?.login || '';\nconst commentUserType = body.comment?.user?.type || '';\nconst isBot = senderType === 'Bot' || commentUserType === 'Bot' || senderLogin.endsWith('[bot]') || commentUserLogin.endsWith('[bot]');\nconst labels = (body.issue?.labels || []).map(l => l.name);\nconst labelAdded = body.label?.name || '';\n\n// Type labels\nconst hasEpic = labels.includes('epic');\nconst hasStory = labels.includes('story');\nconst hasBug = labels.includes('bug');\nconst hasTask = labels.includes('task');\nconst isEpicTitle = /^epic\\b/i.test(body.issue?.title || '');\n\n// Scoping labels\nconst hasNeedsRefinement = labels.includes('needs_refinement');\nconst hasInScoping = labels.includes('in_scoping');\nconst hasSowReady = labels.includes('sow_ready');\nconst hasStoriesCreated = labels.includes('stories_created');\n\n// Linking labels \u2014 check for any epic-N label\nconst epicNLabel = labels.find(l => /^epic-\\d+$/.test(l)) || '';\n\n// Phase 3 stubs\nconst isPRReviewComment = event === 'pull_request_review_comment' && action === 'created';\n\nlet route = 'ignore';\n\n// === issues.opened ===\nif (event === 'issues' && action === 'opened') {\n  if (isEpicTitle) {\n    route = 'epic-created';\n  } else if (hasStory) {\n    route = 'story-created';\n  } else if (isBot) {\n    route = 'bot-unlabeled';\n  } else {\n    route = 'user-issue';\n  }\n}\n\n// === issues.labeled (bot loop prevention: ignore bot label events) ===\nelse if (event === 'issues' && action === 'labeled' && !isBot) {\n  if (labelAdded === 'needs_refinement') {\n    if (hasEpic) route = 'epic-initial-refinement';\n    else if (hasBug) route = 'bug-diagnosis';\n    else if (hasTask) route = 'task-initial-refinement';\n  } else if (labelAdded === 'sow_ready') {\n    if (hasEpic) route = 'story-creation';\n    else if (hasTask) route = 'task-ready';\n  } else if (labelAdded === 'status:ready') {\n    if (hasEpic && hasStoriesCreated) route = 'ready-cascade';\n    else if (hasStory) route = 'agent-code-start';\n  }\n}\n\n// === issues.closed ===\nelse if (event === 'issues' && action === 'closed') {\n  if (hasStory && epicNLabel) {\n    route = 'story-close-check';\n  }\n}\n\n// === issue_comment (scoping conversations \u2014 human only) ===\nelse if (event === 'issue_comment' && (action === 'created' || action === 'edited') && !isBot) {\n  if (hasEpic && hasInScoping && !hasSowReady) {\n    route = 'epic-scoping';\n  } else if (hasTask && hasInScoping && !hasSowReady) {\n    route = 'task-scoping';\n  }\n}\n\n// === Phase 3 stubs ===\nelse if (isPRReviewComment) {\n  route = 'pr-review-feedback';\n}\n\nreturn [{\n  json: {\n    route,\n    event,\n    action,\n    isBot,\n    issueNumber: body.issue?.number || 0,\n    issueTitle: body.issue?.title || '',\n    issueBody: body.issue?.body || '',\n    issueNodeId: body.issue?.node_id || '',\n    repoOwner: body.repository?.owner?.login || '',\n    repoName: body.repository?.name || '',\n    labels,\n    labelAdded,\n    epicNLabel,\n    senderLogin,\n    senderType,\n    commentBody: body.comment?.body || '',\n    commentUser: body.comment?.user?.login || '',\n    headers,\n    body\n  }\n}];"
      },
      "name": "Extract Event Info",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        304
      ],
      "id": "4569298b-f649-4958-a75d-29b530d673ad"
    },
    {
      "parameters": {},
      "name": "No-Op (Ignore)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1088,
        -200
      ],
      "id": "009dbddb-32ab-47b1-91a5-6b027181c7af"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "ignore",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "r-ignore"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ignore"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "epic-created",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "r-epic-created"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "epic-created"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "story-created",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "r-story-created"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "story-created"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "bot-unlabeled",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "r-bot-unlabeled"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "bot-unlabeled"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "user-issue",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "r-user-issue"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "user-issue"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "epic-initial-refinement",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "r-epic-initial-refinement"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "epic-initial-refinement"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "epic-scoping",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "r-epic-scoping"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "epic-scoping"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "bug-diagnosis",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "r-bug-diagnosis"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "bug-diagnosis"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "task-initial-refinement",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "r-task-initial-refinement"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "task-initial-refinement"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "task-scoping",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "r-task-scoping"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "task-scoping"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "story-creation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "r-story-creation"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "story-creation"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "task-ready",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "r-task-ready"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "task-ready"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "ready-cascade",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "r-ready-cascade"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ready-cascade"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "agent-code-start",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "r-agent-code-start"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "agent-code-start"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "story-close-check",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "r-story-close-check"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "story-close-check"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "pr-review-feedback",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "r-pr-review-feedback"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pr-review-feedback"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        912,
        288
      ],
      "id": "786054a9-a68f-4239-be19-c0ae8c7bba3a",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/epic-created",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 120000
        }
      },
      "name": "Trigger Epic Created",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        -80
      ],
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000002"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/story-created",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 120000
        }
      },
      "name": "Trigger Story Created",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        40
      ],
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000004"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/bot-unlabeled",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 120000
        }
      },
      "name": "Trigger Bot Unlabeled",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        160
      ],
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000006"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/user-issue",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 120000
        }
      },
      "name": "Trigger User Issue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        280
      ],
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000008"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/epic-initial-refinement",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 120000
        }
      },
      "name": "Trigger Epic Initial Refinement",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        400
      ],
      "id": "b1000001-0001-4aaa-bbbb-000000000001"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/epic-scoping",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 120000
        }
      },
      "name": "Trigger Epic Scoping",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        520
      ],
      "id": "b1000001-0002-4aaa-bbbb-000000000002"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/bug-diagnosis",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 120000
        }
      },
      "name": "Trigger Bug Diagnosis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        640
      ],
      "id": "b1000001-0003-4aaa-bbbb-000000000003"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/task-initial-refinement",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 120000
        }
      },
      "name": "Trigger Task Initial Refinement",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        760
      ],
      "id": "b1000001-0004-4aaa-bbbb-000000000004"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/task-scoping",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 120000
        }
      },
      "name": "Trigger Task Scoping",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        880
      ],
      "id": "b1000001-0005-4aaa-bbbb-000000000005"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/story-creation",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 120000
        }
      },
      "name": "Trigger Story Creation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        1000
      ],
      "id": "5de3c18a-f029-4a52-b406-3f88ce88a1fc"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/task-ready",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 120000
        }
      },
      "name": "Trigger Task Ready",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        1120
      ],
      "id": "b1000001-0006-4aaa-bbbb-000000000006"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/ready-cascade",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 120000
        }
      },
      "name": "Trigger Ready Cascade",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        1240
      ],
      "id": "b1000001-0007-4aaa-bbbb-000000000007"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/agent-code-start",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 120000
        }
      },
      "name": "Trigger Agent Code Start",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        1360
      ],
      "id": "5e8729c2-6b62-4f92-8792-a307a1c928aa"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/story-close-check",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 120000
        }
      },
      "name": "Trigger Story Close Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        1480
      ],
      "id": "b1000001-0008-4aaa-bbbb-000000000008"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/pr-review-feedback",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 120000
        }
      },
      "name": "Trigger PR Review Feedback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        1720
      ],
      "id": "676f2c7e-593a-49cd-866f-e5be6f112216"
    }
  ],
  "pinData": {},
  "connections": {
    "GitHub Webhook": {
      "main": [
        [
          {
            "node": "Verify Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Signature": {
      "main": [
        [
          {
            "node": "Signature Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Signature Valid?": {
      "main": [
        [
          {
            "node": "Extract Event Info",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Extract Event Info": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "No-Op (Ignore)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trigger Epic Created",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trigger Story Created",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trigger Bot Unlabeled",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trigger User Issue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trigger Epic Initial Refinement",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trigger Epic Scoping",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trigger Bug Diagnosis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trigger Task Initial Refinement",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trigger Task Scoping",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trigger Story Creation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trigger Task Ready",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trigger Ready Cascade",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trigger Agent Code Start",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trigger Story Close Check",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trigger PR Review Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "157a8132-0622-41dc-899f-20550493253f",
  "meta": {
    "instanceId": "96e571688fd47ff94e9763d00007ba6e0b73e6d377b06e71e7fdc2e15cf342b1"
  },
  "id": "RO7MB9Muwo27fjFw",
  "tags": []
}