infra/n8n/workflows/story-detail.json
{
  "id": "StoryDetail01",
  "name": "Story Detail",
  "nodes": [
    {
      "parameters": {},
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst https = require('https');\n\nconst appId = $env.GITHUB_APP_ID;\nconst installationId = $env.GITHUB_INSTALLATION_ID;\nconst privateKeyBase64 = $env.GITHUB_PRIVATE_KEY_BASE64;\nconst privateKey = Buffer.from(privateKeyBase64, 'base64').toString('utf8');\n\nconst now = Math.floor(Date.now() / 1000);\nconst header = Buffer.from(JSON.stringify({ alg: 'RS256', typ: 'JWT' })).toString('base64url');\nconst payload = Buffer.from(JSON.stringify({ iat: now - 60, exp: now + 600, iss: appId })).toString('base64url');\nconst signature = crypto.sign('SHA256', Buffer.from(`${header}.${payload}`), privateKey).toString('base64url');\nconst jwt = `${header}.${payload}.${signature}`;\n\nconst token = await new Promise((resolve, reject) => {\n  const req = https.request({\n    hostname: 'api.github.com',\n    path: `/app/installations/${installationId}/access_tokens`,\n    method: 'POST',\n    headers: {\n      'Authorization': `Bearer ${jwt}`,\n      'Accept': 'application/vnd.github+json',\n      'User-Agent': 'n8n-orchestrator',\n      'Content-Length': 0\n    }\n  }, res => {\n    let body = '';\n    res.on('data', c => body += c);\n    res.on('end', () => {\n      if (res.statusCode !== 201) reject(new Error(`GitHub token request failed: ${res.statusCode} ${body}`));\n      else resolve(JSON.parse(body).token);\n    });\n  });\n  req.on('error', reject);\n  req.end();\n});\n\nreturn [{ json: { ...$input.first().json, githubToken: token } }];"
      },
      "name": "Get Installation Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "jsCode": "const https = require('https');\nconst input = $input.first().json;\nconst token = input.githubToken;\nconst owner = input.repoOwner;\nconst repo = input.repoName;\nconst storyNumber = input.storyNumber;\nconst storyTitle = input.storyTitle;\nconst storyDescription = input.storyDescription;\nconst epicTitle = input.epicTitle;\nconst epicNumber = input.epicNumber;\nconst dependencyTitles = input.dependencyTitles || 'none';\nconst gdd = input.gdd || '';\nconst projectContext = input.projectContext || '';\nconst epicComments = input.epicComments || '';\nconst fixedDelayMs = parseInt(input.fixedDelayMs || '5000', 10);\n\n// --- GitHub REST helper with retry/rate-limit ---\nfunction _rawRequest(method, path, body) {\n  return new Promise((resolve, reject) => {\n    const bodyStr = body ? JSON.stringify(body) : '';\n    const headers = {\n      'Authorization': `Bearer ${token}`,\n      'Accept': 'application/vnd.github+json',\n      'User-Agent': 'n8n-orchestrator',\n      'X-GitHub-Api-Version': '2022-11-28'\n    };\n    if (body) {\n      headers['Content-Type'] = 'application/json';\n      headers['Content-Length'] = Buffer.byteLength(bodyStr);\n    }\n    const req = https.request({ hostname: 'api.github.com', path, method, headers }, res => {\n      let d = '';\n      res.on('data', c => d += c);\n      res.on('end', () => {\n        let parsed;\n        try { parsed = JSON.parse(d); } catch(e) { parsed = d; }\n        resolve({ status: res.statusCode, data: parsed, headers: res.headers });\n      });\n    });\n    req.on('error', reject);\n    if (bodyStr) req.write(bodyStr);\n    req.end();\n  });\n}\n\nasync function githubRest(method, path, body, maxRetries = 3) {\n  for (let attempt = 0; attempt <= maxRetries; attempt++) {\n    const result = await _rawRequest(method, path, body);\n    if (result.status >= 200 && result.status < 300) return result;\n    if (result.status === 403 || result.status === 429) {\n      const retryAfter = result.headers['retry-after'];\n      const rateLimitReset = result.headers['x-ratelimit-reset'];\n      let waitMs;\n      if (retryAfter) waitMs = parseInt(retryAfter, 10) * 1000;\n      else if (rateLimitReset) waitMs = Math.max((parseInt(rateLimitReset, 10) * 1000) - Date.now(), 1000);\n      else waitMs = Math.pow(2, attempt) * 1000;\n      if (attempt < maxRetries) { await new Promise(r => setTimeout(r, waitMs)); continue; }\n    }\n    if (result.status >= 400 && result.status < 500) throw new Error(`GitHub API ${result.status}: ${JSON.stringify(result.data)}`);\n    if (result.status >= 500 && attempt < maxRetries) { await new Promise(r => setTimeout(r, Math.pow(2, attempt) * 1000)); continue; }\n    throw new Error(`GitHub API failed after ${maxRetries + 1} attempts: ${result.status}`);\n  }\n}\n\n// --- LLM call with rate limit awareness ---\nasync function callLLM(messages, maxRetries = 3) {\n  const model = process.env.OPENROUTER_MODEL || $env.OPENROUTER_MODEL || 'stepfun/step-3.5-flash:free';\n  const apiKey = process.env.OPENROUTER_API_KEY || $env.OPENROUTER_API_KEY;\n  const bodyStr = JSON.stringify({ model, messages, max_tokens: 4096 });\n\n  for (let attempt = 0; attempt <= maxRetries; attempt++) {\n    const result = await new Promise((resolve, reject) => {\n      const req = https.request({\n        hostname: 'openrouter.ai',\n        path: '/api/v1/chat/completions',\n        method: 'POST',\n        headers: {\n          'Authorization': `Bearer ${apiKey}`,\n          'Content-Type': 'application/json',\n          'Content-Length': Buffer.byteLength(bodyStr)\n        }\n      }, res => {\n        let d = '';\n        res.on('data', c => d += c);\n        res.on('end', () => {\n          let parsed;\n          try { parsed = JSON.parse(d); } catch(e) { parsed = null; }\n          resolve({ status: res.statusCode, data: parsed, raw: d, headers: res.headers });\n        });\n      });\n      req.on('error', reject);\n      req.write(bodyStr);\n      req.end();\n    });\n\n    if (result.status === 200 && result.data?.choices?.[0]?.message?.content) {\n      return result.data;\n    }\n\n    // Rate limited — check headers, then fixed delay\n    if (result.status === 429 || result.status === 503) {\n      const retryAfter = result.headers?.['retry-after'];\n      let waitMs;\n      if (retryAfter) {\n        waitMs = parseInt(retryAfter, 10) * 1000;\n      } else {\n        waitMs = Math.max(fixedDelayMs, Math.pow(2, attempt) * 2000);\n      }\n      if (attempt < maxRetries) {\n        await new Promise(r => setTimeout(r, waitMs));\n        continue;\n      }\n    }\n\n    // Other error — retry with backoff on server errors\n    if (result.status >= 500 && attempt < maxRetries) {\n      await new Promise(r => setTimeout(r, Math.pow(2, attempt) * 2000));\n      continue;\n    }\n\n    if (attempt >= maxRetries) {\n      throw new Error(`LLM call failed after ${maxRetries + 1} attempts. Status: ${result.status}, Response: ${result.raw?.substring(0, 500)}`);\n    }\n  }\n}\n\n// === Generate detailed story body ===\nconst storyMessages = [\n  {\n    role: 'system',\n    content: `You are writing a detailed implementation story for the Apeiron Cipher project (Rust/Bevy ECS).\\n\\nWrite a story body with these sections:\\n## Acceptance Criteria\\n- (bulleted list)\\n\\n## Technical Notes\\n- (relevant ECS systems, components, data files)\\n\\n## Implementation Order\\nOrder: ${input.storyOrder || 'N/A'}\\n\\nKeep it concise and actionable. A developer should be able to implement this from the story alone.\\n\\n## GDD (excerpt)\\n${gdd.substring(0, 8000)}\\n\\n## Project Context (excerpt)\\n${projectContext.substring(0, 8000)}`\n  },\n  {\n    role: 'user',\n    content: `Epic: ${epicTitle}\\nStory: ${storyTitle}\\nScope: ${storyDescription}\\nDependencies: ${dependencyTitles}\\n\\n## Epic Scoping Conversation\\n${epicComments.substring(0, 4000)}`\n  }\n];\n\n// Fixed delay before LLM call (respects rate limits between batched calls)\nawait new Promise(r => setTimeout(r, fixedDelayMs));\n\nconst response = await callLLM(storyMessages);\nconst storyBody = response.choices?.[0]?.message?.content || `## ${storyTitle}\\n\\n${storyDescription}`;\n\n// === Update the GitHub issue with the detailed body ===\n// Fetch current body to preserve dependency/parent footer\nconst issueData = await githubRest('GET', `/repos/${owner}/${repo}/issues/${storyNumber}`);\nconst currentBody = issueData.data.body || '';\n\n// Replace the stub placeholder with the real content, keep footer\nconst stubMarker = '<!-- story-detail-pending -->';\nlet updatedBody;\nif (currentBody.includes(stubMarker)) {\n  updatedBody = currentBody.replace(stubMarker, storyBody);\n} else {\n  // If no marker found, prepend the detailed body\n  updatedBody = storyBody + '\\n\\n' + currentBody;\n}\n\nawait githubRest('PATCH', `/repos/${owner}/${repo}/issues/${storyNumber}`, { body: updatedBody });\n\nreturn [{ json: { success: true, storyNumber, storyTitle, detailed: true } }];"
      },
      "name": "Populate Story Detail",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [[{ "node": "Get Installation Token", "type": "main", "index": 0 }]]
    },
    "Get Installation Token": {
      "main": [[{ "node": "Populate Story Detail", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1" }
}
